<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
  <display-name>Ocean View Resort</display-name>

  <!-- Force UTF-8 for all JSPs globally -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <default-content-type>text/html; charset=UTF-8</default-content-type>
    </jsp-property-group>
  </jsp-config>

  <welcome-file-list>
    <welcome-file>public/index.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.oceanview.filter.AuthFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>com.oceanview.filter.LoggingFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>

  <error-page><error-code>403</error-code><location>/WEB-INF/views/error/403.jsp</location></error-page>
  <error-page><error-code>404</error-code><location>/WEB-INF/views/error/404.jsp</location></error-page>
  <error-page><error-code>500</error-code><location>/WEB-INF/views/error/500.jsp</location></error-page>
</web-app>

